<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/134/134914.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body{
            width: 1000px;
            margin: 0 auto;
            background-color: #292b37;
            color: white;
        }
        table,tr,th,td{
            border: 1px solid #52545f;
            padding: 6px;
        }
    </style>
</head>
<body>
    <div>
    <image style="width: 50px;height: 50px;margin: 10px;" src="https://cdn-icons-png.flaticon.com/512/134/134914.png"/>
    <h6 style="color: white;">Apps-Chats</h6>
    <br>
    <table style=" width: 100%">
        <thead>
            <tr>
                <th>Stt</th>
                <th>Name</th>
                <th>Date</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        <%
        for (var i = 0; i < data.length; i++) {
            var age =data[i].date.toLocaleDateString("en-US")
            %>
                <tr>
                    <td><%=i%></td>
                    <td><%=data[i].fullName%></td>
                    <td><%=age%></td>
                    <td><%=data[i].address%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i]._id%></td>
                </tr>
            <%
        }
         %>
        </tbody>
    </table>
</body>
</html>